<div class="container-fluid">
    <div class="row">
      <label>Character Name</label>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput>
      </mat-form-field>
    </div>

    <div class="row">
      <label>Class</label>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput>
      </mat-form-field>
    </div>

    <div class="row">
      <label>Level</label>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput type="number">
      </mat-form-field>
    </div>`

  </div>
