<div id="mainBox" class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <label>Character Name</label>
        </div>
        <div class="row">
          <mat-form-field appearance="standard">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <label>Class</label>
        </div>
        <div class="row">
          <mat-form-field appearance="standard">
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <label>Level</label>
        </div>
        <div class="row">
          <mat-form-field class="levelInput" appearance="standard">
            <input matInput type="number">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>