<ng-container *ngIf="feature.RPGFilter">
  <mat-form-field appearance="outline">
    <mat-label>Filter By TTRPG</mat-label>
    <mat-select #mode value="All" [(ngModel)]="charFilter">
      <!-- Implement Service to auto-generate options and dividers -->
      <mat-option [disabled]="true">Dungeons & Dragons</mat-option>
      <mat-option value="D&D 5e">5e</mat-option>
      <mat-option value="D&D 3.5e">3.5e</mat-option>
      <mat-option [disabled]="true">Powered By The Apocalypse</mat-option>
      <mat-option value="Apocalypse World">Apocalypse World</mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>

<div>
  <button mat-flat-button (click)="changeMainNav('new')">
    <fa-icon [icon]="faPlus"></fa-icon>
    New <span *ngIf="charFilter !== 'All'">{{charFilter}}</span> Character
  </button>
</div>
<mat-divider></mat-divider>

<!-- <table mat-table [dataSource]="sheetSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let char"> {{char.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rpg">
    <th mat-header-cell *matHeaderCellDef>RPG</th>
    <td mat-cell *matCellDef="let char"> {{char.rpg}} </td>
  </ng-container> -->

<!-- TODO: Auto-populate recently used character sheets -->
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<mat-divider></mat-divider>
<div>
  <button mat-flat-button (click)="changeMainNav('viewAll')">View All <span
          *ngIf="charFilter !== 'All'">{{charFilter}}</span>
    Characters</button>
</div>
