<mat-drawer-container class="example-container"
                      autosize>
  <mat-drawer #drawer
              class="example-sidenav"
              mode="side">
    <app-side-nav-content></app-side-nav-content>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>SheetSmith<span>&nbsp;1e</span></span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <div class="example-sidenav-content">
    <button type="button"
            mat-button
            (click)="drawer.toggle()">
    </button>
  </div>

</mat-drawer-container>
